{{!-- ESTA VISTA SERÁ INYECTADA EN UN LAYOUT (auth-layout.hbs) --}}
{{!-- NO NECESITA <HTML>, <HEAD>, <BODY> AQUÍ --}}


    <div class="verification-text-content">
        <h1 class="verification-headline-success">Contraseña incorrecta</h1>
                <c class="btn-register2">
                <a href="/login">Iniciar Sesion</a>
            </c>
    </div>
</div>