{{!-- ESTA VISTA SERÁ INYECTADA EN UN LAYOUT (auth-layout.hbs) --}}
{{!-- NO NECESITA <HTML>, <HEAD>, <BODY> AQUÍ --}}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>QueBuenDato.com</title>
    <link rel="stylesheet" href="/css/verification.css">

<div class="verification-main-wrapper">
    <div class="verification-visuals-container">
        <div class="verification-figure2">
            <img src="/media/videos/stuart_dance.gif" alt="Stuart bailando" class="verification-character">
        </div>
        <div class="verification-figure">
            <video src="/media/videos/octavio_dance.mp4" autoplay loop muted class="verification-character"></video>
        </div>
    </div>

    <div class="verification-text-content">
        <h1 class="verification-headline-success">¡Inicio de sesion exitoso!</h1>
            <c class="btn-register2">
                <a href="/">Volver al incio</a>
            </c>
    </div>
</div>
