<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dato Curioso del Día</title>
  <link rel="stylesheet" href="/css/dato.css" />
</head>
<body>
    <h1>Minijuego</h1>
</body>