
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>QueBuenDato.com</title>           
    <link rel="stylesheet" href="/css/perfil.css">
    
    {{!-- GOOGLE FONTS --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>

<body>
<div class="duo-style-wrapper">

    {{!-- ========= SECCIÓN 1: Texto a la izquierda, Animación a la derecha ========= --}}
    <section class="info-section">
        <div class="text-content">
            <h2 class="info-headline yellow-text">Divertido, efectivo y retador.</h2>
            <button type="button" class="duo-button" onclick="location.href='/minijuegos'">Minijuego</button>    
        </div>
        <div class="image-content">
            <div id="animationContainer" class="animacion-duolingo">
                <img id="duolingoAnimation" src="/media/stuart_octavio_libro/stuart_octavio_libro_000001.jpg" alt="Animación Duolingo">
            </div>
        </div>
    </section>

    {{!-- ========= SECCIÓN 2: Imagen a la izquierda, Texto a la derecha ========= --}}
    <section class="info-section reverse">
        <div class="text-content">
            <h2 class="info-headline yellow-text">Diseñado para mentes curiosas.</h2>
            <button class="duo-button">boton de ejemplo </button>
        </div>
        <div class="image-content">
            <div id="animationContainer2" class="animacion-duolingo">
                <img id="duolingoAnimation2" src="/media/video_stuart_octavio/Video_stuart_octavio_000001.jpg" alt="Animación Duolingo2">
            </div>
        </div>
    </section>

    {{!-- ========= SECCIÓN 3: Texto a la izquierda, Imagen a la derecha ========= --}}
    <section class="info-section">
        <div class="text-content">
            <h2 class="info-headline yellow-text">Datos que te hacen sobresalir.</h2>
            <button type="button" class="duo-button" onclick="location.href='/materias'">Datos</button>
        </div>
        <div class="image-content">
            <div id="animationContainer3" class="animacion-duolingo">
                <img id="duolingoAnimation3" src="/media/caminando_stuart_octavio/caminando_stuart_octavio_001.jpg" alt="Animación Duolingo3">
            </div>
        </div>
    </section>

</div>

{{!-- ENLAZA TU ARCHIVO DE ANIMACIÓN --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="/utils/animacion2.js"></script>
<script src="/utils/animacion3.js"></script>
<script src="/utils/animacion4.js"></script>
</body>
</html>