<link rel="stylesheet" href="/css/video-bienvenida.css">
    
<div class="full-screen-animation-container">
    <img id="duolingoAnimation" src="/media/animacion_frames_p/video-bienvenida_000000_000001.webp" alt="Animación de bienvenida a Que Buen Dato">
    
    {{!-- Contenedor para el botón "¡Hagámoslo!" --}}
    <div id="startButtonContainer" class="start-button-container">
        <button id="startButton" class="start-button">¡Hagámoslo!</button>
    </div>

    {{!-- Contenedor para el formulario --}}
    <div id="formularioOverlay" class="formulario-overlay"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="/utils/animacion.js"></script>